:root{
    --bgc: rgb(98, 162, 182);
    --lightBgc: rgb(206, 205, 204);
    --blue: rgb(62, 139, 240);
    --darkerBlue: rgb(118, 154, 201);
    --white: rgb(223, 223, 223);
    --black:rgb(40, 40, 41);
    --grey: rgb(110, 110, 110);
}